body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
    color: #fff;

    /* 🔥 NOVO FUNDO */
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0,0,0,0.7)),
        url('https://images.unsplash.com/photo-1543589077-47d81606c1bf?q=80');
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 14px;
    margin: 5px;
    background: gold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.card {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    margin: 5px auto;
    width: 60%;
    border-radius: 5px;
}

a {
    color: yellow;
    word-break: break-all;
}

button {
    padding: 8px 12px;
    margin: 5px;
    background: gold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

